body, html {
    margin: 0;
    padding: 0;
    /*background: #1e2122;*/
    font-family: 'Roboto', sans-serif;
    background-image: url("MenuTlo.jpg");
    background-size: 100%;
}

#headerMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(17, 18, 19, 0.95);
    opacity: 65%;
    /*border-bottom-left-radius: 10px;*/
    /*border-bottom-right-radius: 10px;*/
}

#inFrontOfBg {
    padding-top: 3%;
    margin-top: 75px;
    background: rgba(17, 18, 19, 0.45);
    padding-bottom: 35%;
    color: white;
    text-align: center;
    /*opacity: 45%;*/
}

#checkOutNewReview {
    background-color: #7138ad;
    border: none;
    border-radius: 10px;
    width: 15%;
    height: 75px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 22px;
}

#checkOutNewReview:hover {
    background-color: #8b4cd0;
    cursor: pointer;
}

#solidInFrontOfBg {
    position: absolute;
    width: 100%;
    background-color: #111213;
    padding-bottom: 25%;
}

#headerHome, #headerContacts {
    background: rgba(0,0,0,0);
    /*border: 1px red solid;*/
    border: none;
    width: 10%;
    height: 75px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 22px;
    border-radius: 5px;

}

#headerRegister, #headerLogin {
    position: relative;
    left: 44%;
    background: rgba(0,0,0,0);
    /*border: 1px red solid;*/
    border: none;
    width: 10%;
    height: 75px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 22px;
    border-radius: 5px;
}

#headerHome:hover, #headerContacts:hover, #headerGames:hover, #headerLogin:hover, #headerRegister:hover {
    background: rgb(113, 56, 173);
    cursor: pointer;
}

#headerIcon {
    float: left;
    width: 5%;
    height: 75px;
}

#headerGames {
    background: rgba(0,0,0,0);
    transition: background-color 0.3s ease, color 0.3s ease;
    color: white;
    padding: 16px;
    border: none;
    width: 190px;
    height: 75px;
    font-size: 22px;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
